/*****************************************/
/* GENERAL */
/*****************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  line-height: 1;
  font-size: 18px;
}

.component {
  margin: 90px auto;
  margin-bottom: 10px;
  width: 700px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 32px 64px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

/*****************************************/
/* LEFT SECTION */
/*****************************************/

.section-left {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 30px;
}

.left--result {
  color: hsl(241, 100%, 89%);
  font-size: 20px;
  font-weight: 500;
  padding-top: 48px;
  padding-bottom: 32px;
}

.left--circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

.left--number {
  font-size: 62px;
  font-weight: 800;
}

.left--hundred {
  color: hsl(241, 100%, 89%);
  font-size: 16px;
  font-weight: 500;
  padding-top: 12px;
}

.left--great {
  font-size: 36px;
  font-weight: 700;
  padding-top: 32px;
}

.left--note {
  color: hsl(241, 100%, 89%);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25;
  padding-top: 24px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

/*****************************************/
/* RIGHT SECTION */
/*****************************************/

.section-right {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  color: hsl(241, 100%, 89%);
  padding: 50px 25px;
  padding-top: 0;
}

.right--summary {
  margin-top: 48px;

  font-size: 20px;
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}

.right--info {
  margin-top: 10px;
}

.right--item1 {
  background-color: hsla(0, 100%, 67%, 0.05);
}

.right--item2 {
  background-color: hsl(39, 100%, 56%, 0.05);
}

.right--item3 {
  background-color: hsl(166, 100%, 37%, 0.05);
}

.right--item4 {
  background-color: hsl(234, 85%, 45%, 0.05);
}

.right--icon {
  margin-right: 5px;
}

.right--category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right--info-result {
  color: hsl(224, 30%, 27%);
}

.right--btn {
  color: hsl(221, 100%, 96%);
  font-size: 16px;
  background-color: hsl(224, 30%, 27%);
  padding: 15px;
  border-radius: 25px;
  margin-top: 25px;
  border: none;
}

.right--btn:hover,
.right--btn:active {
  cursor: pointer;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border: none;
}

.reaction-text {
  color: hsl(0, 100%, 67%);
}

.memory-text {
  color: hsl(39, 100%, 56%);
}

.verbal-text {
  color: hsl(166, 100%, 37%);
}

.visual-text {
  color: hsl(234, 85%, 45%);
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  margin: 20px 0;
  border-radius: 13px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
